{% extends 'base.html' %}
    
{% block content %}

<h3 style="color: blue; font-size: 30px;">Sub Featured Posts</h3>

<div class="row mb-2">
    {% for blog_cate in blog_category %}
    
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3>{{blog_cate.title}}</h3>
          <small class="mb-1 text-muted">{{blog_cate.created_at | timesince }} ago | {{blog_cate.author}} </small>
          <p class="card-text">{{ blog_cate.short_description | truncatewords:25}} </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
