{% extends 'base.html' %}

{% block content %}

<div class="row">
  {% load crispy_forms_tags %}
  <!-- Left Sidebar-->
   <!--Load Side Bar here-->
    {% include 'dashboard/sidebar.html' %}
  <!--Right side Content-->
  <div class="col-md-9">
    <h3>Add New Categoey</h2>
      <form action="{% url 'add_category' %}" method="POST">
        {% csrf_token %} 
        {{ form | crispy }}

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>  

    </div>
  </div>


{% endblock %}